:root {
  --ifm-color-primary: #009688;          /* Main teal */
  --ifm-color-primary-dark: #00877a;     /* Darker */
  --ifm-color-primary-darker: #007766;   /* Even darker */
  --ifm-color-primary-darkest: #006655;  /* Darkest */
  --ifm-color-primary-light: #33a89f;    /* Light teal */
  --ifm-color-primary-lighter: #66b9b0;  /* Lighter */
  --ifm-color-primary-lightest: #99cbc1; /* Lightest */
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 150, 136, 0.1); /* subtle highlight */
}

[data-theme='dark'] {
  --ifm-color-primary: #00695c;          /* Deep teal */
  --ifm-color-primary-dark: #005a4d;     /* Darker */
  --ifm-color-primary-darker: #004c40;   /* Even darker */
  --ifm-color-primary-darkest: #003d33;  /* Darkest */
  --ifm-color-primary-light: #009688;    /* Light teal */
  --ifm-color-primary-lighter: #33a89f;  /* Lighter */
  --ifm-color-primary-lightest: #66b9b0; /* Lightest */
  --docusaurus-highlighted-code-line-bg: rgba(0, 150, 136, 0.2); /* subtle highlight */
}
